 /*Fonte*/
 @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

 /*Cores*/
 :root{
     --azulPrincipal:#00BCD4;
     --verdePrincipal: #0BE082;
     --pretoPrincipal: #1E1E1E;
 }
 /*Estilo site inteiro*/
 *{
     box-sizing: border-box;
     margin: 0;/*Remover margem*/
     padding: 0;/*Remover padding*/
     font-family: 'Share Tech',sans serif;
     text-decoration: none;
 }
 body{
     background-color: var(--pretoPrincipal);
     color: #ffffff;/*Cor padrão do texto*/
     
     
 }

 header{
    padding: 20px 16px 10px;
    border-bottom: 1px solid var(--azulPrincipal);
    display: flex; /*Deixar itens lado a lado*/
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: var(--pretoPrincipal);
    align-items: center;
    display: none;
    
}



/*Formatações Padrão*/
.borderRadiusPadrao{
    border-radius: 15px;/*Arrendondar botões*/
}

.subtitulo{ 
    font-weight:normal;
    color: var(--pretoPrincipal);
    background-color: var(--azulPrincipal);
    padding: 10px 0;
    width: 100px;
    text-align: center;
    border-radius: 15px 0 ;/*Arrendondar*/
    font-size: 1.2rem;

}

.subtituloSemBg{ /*Subtitulo sem cor de fundo*/
    font-weight:normal;
    font-size: 1.2rem;
    color: var(--verdePrincipal);
    margin-left: 16px;
    
}

.centralizaTexto{
    text-align: center;
}

/*Botões*/
.botaoProjeto{
    width: 90px;
    height: 40px;
    background-color: var(--azulPrincipal);
    border:none;
    
    
}

button a{/*Mudar cor do texto do botãoProjeto*/
    color: #ffffff; 
}
/*Formatar fonte do botaoProjeto*/
.formataBotaoProjeto{
    text-decoration: none;
    font-size: 0.8rem;
     
}

 /*Estilo da Barra de navegação*/

 /*Lista da Barra de navegação*/
 ul.formataNav{
    
    display: flex;
    justify-content: space-between; /*Deixar links lado a lado*/
    text-align: center;
    
}


li.formataItem{
    list-style-type: none;
    padding-right: 36px; /*Espaçamento dos links*/
    
}
/*Tirando padding do último item da navBar*/
li.formataItem:last-child{
    padding-right: 0; 
}

/*Links*/
.formataLink{
    text-decoration: none;
    color: var(--azulPrincipal);
    padding-bottom: 08px;
    font-size: 22px;
    
}

.container{
    padding: 0 16px;
}

/*Container Principal*/

.containerPrincipal{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.perfilPrincipal{
    margin-top:150px;
}

.segundoBloco{
    padding-top: 15px;
}

.textoPrincipal{
   font-size: 1.8rem;
   text-align: center;
   font-weight:100;
}

/*Botões*/
.botaoPrincipal{
    width: 150px;
    height: 63px;
    background-color: var(--azulPrincipal);
    border: none; 
    font-size: 0.5rem; 
}

 /*PÁGINA SOBRE MIM*/

 .containerSobre{
    margin-top: 16px;

 }

 .areaPerfil{
    text-align: center;

    margin: 16px 0;
 }

 .textoSobreMim{
    text-align: justify;
    font-size: 1.2rem;
 }

 /*FORMAÇÃO*/


.containerFormacao{
    margin: 16px 0;
}

.containerFormacao h2{
    margin-bottom: 16px;
    margin-left: 16px;
}
/*EFEITO CARROUSEL*/

.gallery{
    width: 200px;
    height: 341px;
    background-color: var(--pretoPrincipal);
    overflow: hidden;
    
}

.gallery .fotosCards{
    width: 400%;
    animation-name: animacaoCards;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.gallery .fotos img{
    width: 19.9%;
}

@keyframes animacaoCards {
    
    0%{margin-left: 0;} 
    20%{margin-left: 0;}
    25%{margin-left: -100%;} /*Pra rodar uma imagem*/ 
    45%{margin-left: -100%;}  
    50%{margin-left: -200%;}  
    70%{margin-left: -200%;}  
    75%{margin-left: -300%;}
       
    
}

/*LINGUAGENS*/

.areaLinguagens{
    margin-top: 25px;
    
}

/*Configurando grid com areas*/
.imagem1{
    grid-area: primeiraImagem;
    text-align: center;
}
.imagem2{
    grid-area: segundaImagem;
    text-align: center;
}
.imagem3{
    grid-area: terceiraImagem;
    text-align: center;
    
}

.imagem4{
    grid-area: quartaImagem;
    text-align: center;
}

.linguagensLinha{
    margin: 16px 0 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-template-areas: "primeiraImagem segundaImagem"
                         "terceiraImagem quartaImagem";
    row-gap: 20px;
}

.nomeLinguagem{
    color: var(--verdePrincipal);
    margin-top: 8px;
    font-size: 1.1rem;
}

/*PORTIFÓLIO*/

.containerPortifolio{
    margin:25px 16px;
}

.nomeProjeto{
    font-weight:normal;
    font-size: 30px;
    color: var(--verdePrincipal);
    
}

.paragrafoProjeto{
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 10px;
}

.blocoBotoesProjetos{
    margin-top: 16px;
}